@{
    ViewBag.Title = "Im";
}

@model WebChat.Models.Contact.ContactListModel
@using Microsoft.AspNet.Identity;


<div class="header-whitespace" style="height: 20px;"></div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="padding-top: 15px;" id="search-container">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" id="inputSearchField" placeholder="Search">
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li id="contacts-btn" class="active"><a href="#contacts" role="tab" data-toggle="tab">Contacts</a></li>
                    <li id="groups-btn"><a href="#groups" role="tab" data-toggle="tab">Groups</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="contacts">
                        <div id="contact-list">
                            @Html.Partial("~/Views/Shared/Contact/ContactList.cshtml", Model)
                        </div>
                    </div>
                    <div class="tab-pane" id="groups">
                        <input type="button" id="btn-create-group" class="btn btn-info centered" value="Create Group Dialogue" onclick="GetContacts()" />
                        <div id="group-list">
                        </div>
                    </div>
                </div>
                <input type="button" id="btnCommonSearch" class="btn btn-info hidden centered" value="Search in WebChat" />
                <div id="search-result-container"></div>
            </div>
            <div class="col-md-8" id="dialogue-container"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="contac-list-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="create-group-btn">Create group</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("currentUserId", User.Identity.GetUserId(), new { @id = "currentUserId"})

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/commonscript")
<link rel="stylesheet" href="~/Content/CommonStyle.css" />
