@model WebChat.Models.Account.SearchedContactListModel
@{ Layout = null; }

@if (Model == null)
{
    return;
}

@foreach (var contact in Model.Contacts)
{
    <div class="row user-contact" data-contact-id="@contact.Id" data-contact-name="@contact.Name" onclick="AddContact(this)">
        <div class="col-md-2 contact-icon"><img src="@contact.PhotoUrl" class="avatar" id="user-photo"/></div>
        <div class="col-md-10 contact-name"><span class="contact-name-text">@contact.Name</span></div>
        <hr />
    </div>
}



